@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body,
html {
  background-color: theme-color('light');
  font-family: 'Raleway', Helvetica, sans-serif;
}

.navbar-collapse {
  &.show,
  &.collapsing {
    border-top: 1px solid $border-color;
  }
}

h1 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 2rem;
}
